/*
Name: William Wang
Date: 5/6/2021
Section: CSE 154 AO

This styles.css defines all structures and designs of the webpage, uses the steam color scheme,
and added glow effect, giving the webpage steam-like and modern feeling.
*/
:root {
  --primary-color: rgb(27, 40, 56);
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 60px;
  margin: 0;
}

button {
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 119, 255, 0.616);
  box-shadow: 0 0 10px rgb(0, 119, 255);
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 119, 255);
  transition: 0.4s ease;
}

button:hover {
  box-shadow: 0 0 40px 3px rgb(90, 167, 255);
  color: rgb(90, 167, 255);
  cursor: pointer;
}

header,
#loading {
  background-color: black;
  height: 120px;
  text-align: center;
  color: white;
  font-family: "Permanent Marker", cursive;
  text-shadow: 5px 2px 2px rgb(0, 119, 255);
}

header h1 {
  font-size: clamp(3rem, 1.5000rem + 6.6667vw, 4.5rem);
}

header p {
  font-size: clamp(0.8rem, -0.2500rem + 3.3333vw, 1.3rem);
  margin: 0;
}

#search {
  box-shadow: 0 0 20px 10px black inset;
  height: calc(100vh - 120px - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* from https://wallpaperaccess.com/steam */
  background: no-repeat center / cover url("./resource/backgound.jpg");
}

#search #search-bar {
  padding: 0 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 70%;
  height: 50px;
  border: none;
  border-radius: 10px;
  outline: none;
  margin: 50px 0;
  transition: 0.4s ease;
  box-shadow: 0 0 10px rgb(0, 119, 255);
  background-color: rgba(0, 0, 0, 0.7);
}

::placeholder {
  color: rgb(184, 184, 184);
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

#search #search-bar:focus {
  box-shadow: 0 0 40px 3px rgb(90, 167, 255);
}

#findings {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

#findings .card {
  width: 320px;
  height: 400px;
  box-shadow: 0 0 5px rgb(0, 119, 255);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right top, rgb(90, 167, 255), rgb(27, 40, 56));
  transition: 0.4s;
}

#findings .card img {
  max-width: 85%;
  min-width: 50%;
  max-height: 50%;
}

#findings .card:hover {
  box-shadow: 0 0 30px 2px rgb(0, 119, 255);
}

#findings .card button {
  font-size: 14px;
  padding: 5px;
}

#findings .card button:hover {
  background: rgba(0, 0, 0, 0.4);
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.4s ease-in;
  text-align: center;
}

#loading h1 {
  height: 90px;
  margin-top: calc((100vh - 90px) / 2);
}

.disappear {
  display: none;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 13px;
  margin: auto;
}

footer p a {
  color: white;
}
